---
import Anchor from "../../components/Anchor.astro";
import Snippet from "../../components/Snippet.astro";
import { processArticleDate } from "../../lib/utils";

export type Props = {
  title: string;
  description: string;
  url: string;
  timestamp?: string;
};

const { title, description, url, timestamp } = Astro.props;
---

<Snippet title={title} description={description} url={url}>
  <div slot="bonus-corner" class="zag-muted zag-transition flex justify-between items-center">
    {timestamp ? <p>{processArticleDate(timestamp)}</p> : null}
  </div>
</Snippet>
