---
import { GLOBAL } from "../../lib/variables";
import PageLayout from "../../layouts/PageLayout.astro";
import Section from "../../components/Section.astro";
---

<PageLayout>
  <Section class="my-8">
    <div class="flex items-center gap-4 pt-8 pb-16">
      <h1 class="font-display text-3xl sm:text-4xl leading-loose">web ring</h1>
    </div>
    <p>UNDER CONSTRUCTION</p>
  </Section>
</PageLayout>
