---
import FeaturedPosts from "../components/home/FeaturedPosts.astro";
import FeaturedProjects from "../components/home/FeaturedProjects.astro";
import Hero from "../components/home/Hero.astro";
import Section from "../components/Section.astro";
import { featuredPosts, featuredProjects } from "../content/featured";
import PageLayout from "../layouts/PageLayout.astro";
import { GLOBAL } from "../lib/variables";
---

<!-- TODO how use metadata? then adjust to me. see initial commit for the templates example to build/learn off of -->
<PageLayout>
  <Section class="my-16">
    <Hero />
  </Section>
  <Section class="space-y-16">
    <h2 class="text-center text-xl sm:text-2xl font-display font-medium sm:text-left">Spotlight</h2>
    <div class="space-y-16">
      <Section>
        <FeaturedPosts featuredPosts={featuredPosts} />
      </Section>
      <Section>
        <FeaturedProjects featuredProjects={featuredProjects} />
      </Section>
    </div>
  </Section>
</PageLayout>

<!-- TODO can have my "Latest feed also show when i have pushed to a repo, 
 or deployed. Probably do two feeds side by side as the pushed/deployed 
 would be noisy" -->
