---
import { getCollection } from "astro:content";
import Section from "../../components/Section.astro";
import PageLayout from "../../layouts/PageLayout.astro";
import ReactIslandContainer from "../../components/ReactIslandContainer.astro";
import DynamicBookmarksIsland from "../../components/bookmarks/DynamicBookmarksIsland";

// TODO create a server island with allBookmarks as a fallback

const allBookmarks = await getCollection("bookmarks");
---

<PageLayout>
  <Section class="py-4 my-8 space-y-8">
    <div class="pt-8 pb-16">
      <h1 class="font-display text-3xl sm:text-4xl leading-loose">stars</h1>
      <h2 class="text-center text-xl sm:text-2xl font-mono font-medium sm:text-left">
        <p>i like these places</p>
      </h2>
    </div>
    <ReactIslandContainer>
      <DynamicBookmarksIsland allBookmarks={allBookmarks} client:idle />
    </ReactIslandContainer>
  </Section>
</PageLayout>
