---
import type { PostFrontmatter } from "../../content/posts";
import { GLOBAL } from "../../lib/variables";
import Featured from "../Featured.astro";
import PostSnippet from "../posts/PostSnippet.astro";

type Props = {
  featuredPosts: Array<PostFrontmatter>;
};

const { featuredPosts } = Astro.props;
---

<Featured url="/fragments" pageName="fragments">
  {
    featuredPosts.map((article) => (
      <li>
        <PostSnippet
          title={article.title}
          description={article.description}
          url={article.filename}
          timestamp={article.timestamp}
        />
      </li>
    ))
  }
</Featured>
