---
import { processArticleDate } from "../lib/utils";
import Anchor from "./common/Anchor.astro";

export type Props = {
  title: string;
  description: string;
  url: string;
  timestamp?: string;
};

const { title, description, url, timestamp } = Astro.props;
---

<div class="zag-text zag-transition flex flex-col gap-3">
  <div class="flex flex-col gap-3 sm:flex-row sm:justify-between">
    <Anchor url={url} class="text-xl">
      {title}
    </Anchor>
    <div class="zag-muted zag-transition flex justify-between items-center">
      {timestamp ? <p>{processArticleDate(timestamp)}</p> : null}
    </div>
  </div>
  <p class="zag-text zag-transition">
    {description}
  </p>
</div>
