---
import SeeAll from "./SeeAll.astro";

export type Props = {
  url: string;
  pageName: string;
};

const { url, pageName } = Astro.props;
---

<div class="space-y-10 shadow-[10px_10px_0px_0px_rgba(0,0,0,0.75)] shadow-amber-200 p-4 border-2 border-amber-100">
  <ul class="space-y-10">
    <slot />
  </ul>
  <SeeAll url={url} pageName={pageName} />
</div>
