---
import type { MarkdownLayoutProps } from "astro";
import Prose from "../components/Prose.astro";
import Section from "../components/Section.astro";
import type { PostFrontmatter } from "../content/posts";
import { getShortDescription, processPostDate, generateSourceUrl } from "../lib/utils";
import { GLOBAL } from "../lib/variables";
import PageLayout from "./PageLayout.astro";

type Props = MarkdownLayoutProps<PostFrontmatter>;

const { frontmatter } = Astro.props;
const shortDescription = getShortDescription(frontmatter.description);
const articleDate = processPostDate(frontmatter.timestamp);
const sourceUrl = generateSourceUrl(frontmatter.filename, "posts");
---

<PageLayout>
  <Section class="pt-8">
    <div class="flex flex-col gap-4 mt-8 mb-16">
      <h1 class="text-3xl sm:text-4xl leading-normal sm:leading-normal font-display">
        {frontmatter.title}
      </h1>
      <div class="flex justify-between">
        <span>{articleDate}</span>
      </div>
    </div>
    <Prose>
      <slot />
    </Prose>
  </Section>
</PageLayout>
